body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*================ CAROUSEL SLIDE ===================*/

#header {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

h1 {
    text-align: center;
}

button {
    height: 30px;
    width: 30px;
}

#carSlideJs,
#carSlideJq {
    overflow: hidden;
    width: 300px;
    max-width: 1000px;
    margin: auto;
}

#buttonRightJq,
#buttonRightJs {
    position: relative;
    left: 70%;
}

#figureJq,
#figureJs {
    position: relative;
    width: 3000px;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
}


/*=================== CAROUSEL TYPE MANEGE ==================*/

#carFigJs,
#carFigJq {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
}

.imgSlide {
    width: 300px;
    height: auto;
    float: left;
}

.imgJq,
.imgJs {
    height: auto;
    width: 32rem;
    padding: 20px;
    position: relative;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY(-2rem);
    transform: scale(0.6) translateY(-2rem);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    background: #2e5266;
    background: linear-gradient(to top, #2e5266, #6e8898);
    transition: 1s;
}

.imgJq.active,
.imgJs.active {
    z-index: 3;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
}

.imgJq.prev,
.imgJq.next,
.imgJs.prev,
.imgJs.next {
    z-index: 2;
    -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
    transform: scale(0.8) translateY(-1rem) translateX(0);
    opacity: 0.6;
    pointer-events: auto;
    transition: 1s;
}